<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.opensixen.p2.installer.Application">
         </run>
      </application>
   </extension>
   <extension
         id="OpensixenInstaller"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.opensixen.p2.installer.application"
            name="Opensixen Installer">
         <property
               name="appName"
               value="Opensixen Installer">
         </property>
      </product>
   </extension>

</plugin>
